.contact-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.contact-page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/contactback1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.8;
}

.terms-container {
  max-width: 800px;
  margin: 8rem auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.terms-heading {
  text-align: center;
  color: #c0392b;
  margin-bottom: 20px;
}

.terms-content {
  background-color: #f5f4f4;
  padding: 20px;
  border-radius: 8px;
}

.section-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  transition: all .3s ease;
  padding: 5px;

  &:hover {
    border-radius: 5px;
    border: 1px solid #c0392b;
  }
}

.section-icon {
  margin-right: 15px;
}

.section-content h2 {
  position: relative; 
}

.section-content h2::after {
  content: '';
  position: absolute;
  left: 0;           
  bottom: -5px;      
  width: 100%;       
  height: 2px;       
  background-color: transparent; 
  transition: background-color 0.3s ease; 
}

.section-content h2:hover::after,
.section-content h2:focus::after {
  background-color: #c0392b; 
}

h2 {
  color: #c0392b;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .terms-container {
    padding: 15px;
  }

  .terms-heading {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.3em;
  }
}