@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

form input, form select {
    accent-color: rgb(226, 105, 89) !important;
}

.bgImg{
    background-image: url("");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 84vh;
}
.box{
    width: 80%;
    height: 70vh;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 150px;
    box-shadow: 25px 25px 45px 25px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.savebtn, .cancelbtn{
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    width: 100px;
    opacity: 0.8;
    border-radius: 10px;
}

.savebtn {
    background-color: #4CAF50;
}

.cancelbtn:hover, .savebtn:hover{
    opacity: 1;
}