/* Login.css */

.loginstyle {
    position: relative; 
    margin-left: 500px ;
    margin-right: 500px ;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow:  35px 60px -15px rgba(0, 0, 0, 0.5);
}

