/* Login.css */

.loginstyle {
    position: relative; 
    margin-left: 400px ;
    margin-right: 400px ;
    margin-top: 50px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
    box-shadow:  35px 60px -15px rgba(0, 0, 0, 0.5);
  
      
}
