@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

.btnstart{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1.5rem;
  padding-right: 1.5rem; 
  border-radius: 9999px;
  margin-left: 20px; 
  color: #ffffff;  
  background-color: #e26959;

}
.btnstart:hover{
  background-color: antiquewhite;
  color: #e26959;
}