.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btn {
  width: 2.5rem;
  height: 2.5rem;
  color: black;
  background-color:#e26959;
  border-radius: 10px;
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
