@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.banner_mainparent {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 88vh;
}

.banner_subparent {
  display: flex;
  justify-content: center;
}

.banner_textdiv {
  text-align: center;
}

.banner_header1 {
  font-size: 70px;
  margin-bottom: 1.5rem !important;
  margin-top: 6rem;
  margin-left: 25px;
  margin-right: 25px;
  color: antiquewhite;
  line-height: 98px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.banner_header1 > br:nth-of-type(1) {
  display: none;
}

.banner_header2 {
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  line-height: 80px;
  margin-bottom: 1.5rem !important;
  color: #28183b;
}

.banner_textdiv div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner_header3 {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
  font-size: 24px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.banner_header3 > span {
  color: #e26959;
}

.banner_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.banner_signup_btn {
  margin-top: 2rem;
  width: 190px;
  padding: 15px 5px !important;
  height: 50px;
}

.banner_contribute_logo {
  width: 25px;
  height: 25px;
  margin-bottom: 0px;
  color: #000;
}

.banner_imgdiv img {
  max-width: 400px;
}

@media screen and (max-width: 1200px) {
  .banner_header1 {
    font-size: 70px;
    margin-bottom: 1.5rem !important;
    margin-top: 6rem;
    color: rgb(255, 201, 131);
    line-height: 98px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
  }

  .banner_header3 {
    font-size: 20px;
    margin-top: 40px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .banner_header1 {
    margin-top: 3rem;
    line-height: 88px;
    font-size: 50px;
  }

  .banner_header1 > br:nth-of-type(1) {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .banner_mainparent {
    height: 100vh;
  }

  .banner_subparent {
    flex-direction: column;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
  }

  .banner_imgdiv img {
    display: none;
  }

  .banner_textdiv {
    margin-top: 10vh;
  }

  .banner_header1 {
    font-size: 30px;
    text-align: center;
    line-height: 65px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .banner_header2 {
    font-size: 3.5rem;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .banner_header3 {
    text-align: center;
    font-size: 18px;
  }

  .banner_header3 > br {
    display: none;
  }

  .banner_signup_btndiv {
    display: flex;
  }

  .banner_btn_div {
    gap: 1rem;
    margin-top: 3rem;
  }

  .banner_signup_btn {
    margin: auto;
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .banner_header1 {
    font-size: 29px;
    line-height: 55px;
  }

  .banner_header3 {
    font-size: 16px;
  }
}

/* MilaninfoBanner stylings below */

.mib_mainparent {
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding: 0 20.5px;
}

.mib_top_intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mib_top_intro > h1 {
  font-size: 25px;
  font-weight: 900;

  color: #e26959;
  background-image: -webkit-linear-gradient(45deg, #e26959 20%, #28183b 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.mib_collab_bottom_middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mib_collab_bottom_middle > h1 {
  font-size: 50px;
  color: #28183b;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.mib_collab_bottom_middle > p {
  font-family: "Poppins", sans-serif;
  color: #28183b;
  font-size: 18px;
  margin-top: 0px;
  letter-spacing: 1px;
  width: 70%;
  text-align: center;
}

.mib_sidewise {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  width: 85%;
  margin-top: 4rem;
  align-items: center;
  margin-bottom: 12rem;
}

.mib_collab_bottom_left > img {
  width: 400px;
}

.mib_collab_bottom_right h1 {
  font-size: 28px;
  color: #28183b;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.mib_collab_bottom_right p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
  margin-top: 0px;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  .mib_mainparent {
    padding: 0 10.5px;
  }

  .mib_top_intro > h1 {
    font-size: 23px;
    font-weight: 900;
  }

  .mib_collab_bottom_middle > h1 {
    font-size: 45px;
    line-height: 50px;
    margin-top: 1rem;
  }

  .mib_collab_bottom_middle > p {
    font-size: 17px;
    width: 95%;
  }

  .mib_sidewise {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    width: 100%;
    margin-bottom: 7rem;
  }

  .mib_collab_bottom_right h1 {
    text-align: center;
    font-size: 25px;
  }

  .mib_collab_bottom_right p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
  }

  .mib_collab_bottom_left > img {
    width: 90%;
  }

  .mib_collab_parent:nth-child(3)
    > .mib_collab_bottom
    > .mib_sidewise
    > .mib_collab_bottom_left {
    display: none;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.banner-container {
  position: relative;
  min-height: 88vh;
  width: 100%;
  perspective: 1000px;
}

.banner-background {
  position: absolute;
  inset: 0;
  background-image: url('../assets/backgrd.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateX(2deg);
  transform-origin: top;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.banner-content {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-inner {
  display: flex;
  justify-content: center;
}

.banner-text-container {
  padding: 0 1.5rem;
}

.banner-heading {
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 6rem;
  color: antiquewhite;
}

.banner-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-top: 2.5rem;
  letter-spacing: 0.025em;
  color: antiquewhite;
}

.highlight {
  color: #e26959;
  transition: color 0.3s ease;
}

.highlight:hover {
  color: #ff8576;
}

.banner-buttons {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.banner-button {
  height: 50px;
  width: 190px;
  padding: 1.25rem !important;
  transition: transform 0.3s ease;
}

.banner-button:hover {
  transform: scale(1.05);
}

.github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.github-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.animated-text {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .banner-heading {
    font-size: 3.5rem;
    margin-top: 4rem;
  }
  
  .banner-subheading {
    font-size: 1.125rem;
  }
  
  .banner-text-container {
    padding: 0 3rem;
  }
  
  .banner-break {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .banner-heading {
    font-size: 4.5rem;
  }
  
  .banner-subheading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .banner-break {
    display: none;
  }
  
  .banner-heading {
    font-size: 2rem;
    margin-top: 3rem;
  }
  
  .banner-subheading {
    font-size: 0.875rem;
  }
}
